// General colors
$background-main: #1A1A1A;
$background-alt: #282828;
$backrgound-lighter: #2f3640;
$text-main: #f1f2f6;

// Palette
$blue: #0984e3;
$blue-alt: #70a1ff;
$green: #2ed573;
$green-alt: #7bed9f;
$red: #ff4757;
$red-alt: #ff6b81;
